In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
pd.options.plotting.backend = "plotly"

In [2]:
sales1 = pd.read_pickle("../Data/total_sales_09-10_cleaned.pkl")
sales2 = pd.read_pickle("../Data/total_sales_10-11_cleaned.pkl")

In [5]:
sales = pd.concat([sales1, sales2])

In [17]:
sales_day = sales.groupby(['date']).sum().reset_index()
sales_day = sales_day.drop(columns = ['hour'])
sales_day.head()

         date  total_amount
0  2009-12-01      37366.32
1  2009-12-02      45644.67
2  2009-12-03      66327.53
3  2009-12-04      31448.44
4  2009-12-05       9042.36

In [22]:
sales_day.to_pickle('../Data/sales_day.pkl')